body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #12181f;
    color:white;
}

h1 {
    /*make sure to center this!*/
    font-weight: 700;
    font-size: 50px;
}

p {
  /*make sure to center this!*/
    font-size: 30px;
    font-weight: bold;
}

/*
Use Flexbox to center everything in .center
    
 */

.center {
/*make sure to center this!*/
    height: 50px;
}